@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    transition: all .3s ease;
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}
    ::-webkit-scrollbar {
      width: 6px;
      background-color: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: var(--main-color);
      border-radius: 8px;
    }
    
    ::-webkit-scrollbar {
      background-color: var(--second-bg-color);
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background-color: var(--main-color);
      cursor: pointer;
    }
:root{
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #88abf8;
  --default-color: #88abf8;

}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: var(--bg-color);
  color: var(--text-color);
}
.navbar1{
  position: relative;
  font-family: 'Salsa', cursive;
}
.header1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
 background: var(--bg-color);
 padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  transition: .3s;
} 
.navbar1 a{
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: .3s;
}
.navbar1 a:hover, .navbar1 a.active{
  color: var(--main-color);
}
#menu-icon1{
  position: relative;
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}
.header{
  position: fixed;
  bottom: 1%;
  left: 0;
   width: 100%; 

 background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: .3s;
} 
/* .header .sticky{
  background: yellowgreen;
/* } */
.navbar{
  background: #6b94b266;
  padding: 10px ;
  border-radius: 25px;
  user-select: none;
} 
 .logo{
  /* font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 500; */
  margin-left: 3.5rem;
  position: relative;
  /* width: 100%; */
} 
.logo img {
  width: 46px;
  height: auto;
  mix-blend-mode: color-dodge;
}
.navbar a{
  font-size: 3rem;
  padding: 7px;
  color: var(--text-color);
  margin: 1.5rem;
   transition: .5s;
   border: none;
   border-radius: 50%;
}
.navbar a:hover,
.navbar a.active{
  color: var(--main-color);
 
  background: radial-gradient(#024d5a, #091813);

}
#menu-icon{
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
} 
section{
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}
.home{
  display: flex;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  align-items: center;
  padding: 0 9%;
 /* flex-direction: column; */
  background: radial-gradient(#024d5a, #091813);
  background-size: cover;
  background-position: center;
}
.home-content{
  max-width: 60rem;
}
.home-content h1{
  position: relative;
  display: inline-block;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}
.home-content span{
  color: var(--text-color);
}
.home-content .text-animate{
  position: relative;
  width: 49%;
}
.home-content .text-animate h3{
   /* width: 100%; */
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: .7px var(--main-color);
  background-image: linear-gradient(var(--main-color), var(--main-color));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -3rem 0;
  animation: homeBgText 5s linear infinite;
  animation-delay: 2s;
} 
.home-content .text-animate h3::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 2px solid var(--main-color);
  z-index: 1;
  background-position: -3rem 0;
  animation: homeCursorText 5s linear infinite;
  animation-delay: 2s;
}

@keyframes homeBgText{
  0%,
  10%,
  100%{
   background-position: -33rem 0;
  }
  65%,
  85%{
    background-position: 0 0;
   }
}
@keyframes homeCursorText {
  0%, 
  10%, 
  100% {
    width: 0;
    
  }
  65%,
  78%,
  85% {
    width: 100%;
    opacity: 1;
    
  }
  75%,
  81% {
    opacity: 0;
  }
}

.home-content p{
  position: relative;
  font-size: 1.5rem;
  margin: 2rem 0 4rem;
  font-family: 'Salsa', cursive;
}
.btn-box{
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
}
.btn-box .btn{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: .1rem;
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.btn-box .btn:hover{
color: var(--main-color);
}
.btn-box .btn:nth-child(2){
  background: transparent;
  color: var(--main-color);
}
.btn-box .btn:nth-child(2)::before{
  background: var(--main-color);
}
.btn-box .btn:nth-child(2):hover{
  color: var(--bg-color);
}
.btn-box .btn:nth-child(1){
  background: transparent;
  color: var(--main-color);
}
.btn-box .btn:nth-child(1)::before{
  background: var(--main-color);
}
.btn-box .btn:nth-child(1):hover{
  color: var(--bg-color);
}
.btn-box .btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: .5s;
}
a.btn.btn4{
  display: none;
}
.btn-box .btn:hover::before{
  width: 100%;
}
.home-sci{
  position: absolute;
  bottom: 4rem;
  width: 200px; 
  display: flex;
  justify-content: space-between;
}
.home-sci a{
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: .2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.home-sci a:hover{
  color: var(--bg-color);
}
.home-sci a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  z-index: -1;
  transition: .5s;
}
.home-sci a:hover::before{
  width: 100%;
}


.home-imgHover{
  /* background: url(images/IMG-20220928-WA0000.jpg) no-repeat; */
  /* position: absolute; */
  top: 15%;
  right: 0;
  width: 50%;
  height: 100%;
  /* height: 100%; */
  /* background: red; */
  /* z-index: 999; */
  /* border: 2px solid red; */
  /* transition: 3s; */
}
.img3 {

  width: 50%;
  height: 100%;
  margin-left: 30%; 
  border-radius: 10px;
}
.img3 img{
  width: 100%;
  box-shadow: 0 20px 5px 5px rgba(0,0,0,0.2);
  animation: animate 5s ease-in-out infinite;
  transition: all 1s ease-in-out;
}
@keyframes animate{
  0%{
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  0%{
    border-radius: 60% 40% 30% 70%/60% 60% 70% 40%;
  }
}



/* .home-imgHover:hover{
  background: var(--bg-color);
  opacity: .8;
} */
/* [[about section]] */
.about{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}
.heading{
  position: relative;
  font-size: 5rem;
 margin-bottom: 3rem;
 text-align: center;
}
span{
  color:var(--main-color);
}
.about-img{
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img img{
  width: 90%;
  height: 90%;
  border-radius: 50%;
  border: .2rem solid var(--main-color);
}
.about-img .circle-spin{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: .2rem solid var(--second-bg-color);
  border-bottom: .2rem solid var(--second-bg-color);
  border-left: .2rem solid var(--main-color);
  border-right: .2rem solid var(--main-color);
  animation: aboutSpinner 8s linear infinite;
}
@keyframes aboutSpinner{
  100%{
    transform: translate(-50%, -50%) rotate(360deg);

  }
}
.about-content{
  text-align: center;
}
.about-content h3{
  position: relative;
  display: inline-block;
  font-size: 2.6rem;
}
.about-content p{
  position: relative;
  font-size: 1.6rem;
 letter-spacing: 1.6;
  margin: 2rem 0 3rem;
  font-family: 'Salsa', cursive;
}
.btn-box.btns{
display: inline-block;
width: 15rem;
}
.btn-box.btns a::before{
background: var(--second-bg-color);
}
/* /* education */
 .education{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: auto;
padding-bottom: 5rem;
}
.education .education-row{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}
.education-row .education-column{
  flex: 1 1 40rem;
}
.education-column .title{
  position: relative;
  display: inline-block;
  font-size: 2.5rem;
  margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
  position: relative;
  border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
  position: relative;
  padding-left: 2rem;
}
.education-box .education-content::before{
  content: '';
  position: absolute;
  top: 0;
   width: 2rem;
   height: 2rem;
   background: var(--main-color);
   border-radius: 50%;
   left: -1.1rem;
}

.education-content .content{
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
  margin-bottom: 2rem;
  overflow: hidden;
 
}
.education-content .content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}
.education-content .content:hover::before{
  width: 100%;
}
.education-content .content .year{
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;

}
.education-content .content .year i{
  padding-right: .5rem;
}
.education-content .content h3{
  font-size: 2rem;
}
.education-content .content p{
  font-size: 1.6rem;
  padding-top: .5rem;
  font-family: 'Salsa', cursive;
}
/* / ===============Skills=================== / */
.skills-container{
  min-height: auto;
  padding-bottom: 7rem;
}
.skills h2{
  /* text-align: center;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 5px;
  padding-bottom: 40px; */
  /* position: relative; */
  display: inline-block;
  left: 50%;
  transform: translateX(-50%,);
}
.skills-container .heading h2 span{
  /* color: #0ef; */
}
.skills-container i {
  content: "";
  color: beige;
  /* align-items: center;
  text-align: center;
  justify-content: center;
  display: flex; */
  /* height: 40vh; */
  font-size: 50px;
  border-radius: 10px;
  /* display: flex; */
  /* flex-direction: column; */
}

.skills-container span{
  font-size: 30px;
  padding-top: 11px; 
   /* display: none;  */
}
.skills-container .lang{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 45px;
    height: 40vh;
    margin: 10px;
    width: 220px;
    border: 2px dotted #1f2b44;
    border-radius: 10px;
    /* transition: all 0.5s ease; */
  }
  .skills-container .lang::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -100%;
    /* top: 0%; */
    z-index: -1;
    transition: .5s;
    background: linear-gradient(176deg, #00a9bf, transparent);
  }
  .skills-container .lang:hover::before{
    bottom: 0;
     /* transition: .5s; */
     /* border: 2px dotted red; */
     /* width: 100%; */
   }
   
.skills-list-1 {
  position: relative;
  display: inline-block;
  width: 100%;
  min-height: 35vh;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-evenly;
  margin: 0 0 2% 0;
}


.skills-list-2 {
  position: relative;
  width: 100%;
  min-height: 35vh;
  display: flex;
  height: auto;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.lang .visible {
  opacity: 0;
  position: relative;
  z-index: 99;
  transition: all .5s;
  transition: opacity 0.5s;
}
  .lang:hover span {
  
  opacity: 1;
}
/* project */
.project{
  background: var(--second-bg-color);
}
.container1{
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container{
  width: 250px;
  /* background: rgb(160, 136, 233);
  background: radial-gradient(circle, rgba(114, 48, 237, 0.734) 0%, rgb(8, 121, 186) 100%); */
  background: linear-gradient(90deg, #FDBB2D 0%, #3A1C71 100%);
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center;   */
  padding: 0px 15px;
  border: 2px  dotted red;
  transition: .5s;
  z-index: 1;
 
}
/* .container:hover{
  background: transparent;
} */
.image{
  width: 220px;
  height: 150px;
  overflow: hidden;
  border-radius: 15px;
  margin: 20px 0px;
}
.image img{
  width: 100%;
  height: auto;
}
.cont{
  display: inline;
  margin: 20px 0;
}
.container p{
font-size: 18px;
padding: 0 2px;
}
.container1 .btn2{
  position: relative;
   padding: 10px 13px; 
  /* border-radius: 5px;
  background: #000;
  color: white;
  font-size: 13px; */ 
  /* font-weight: 600; */
  margin: 0 5px;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .8rem;
  font-size: 13px;
  /* font-weight: 600; */
  /* letter-spacing: .1rem; */
  color: var(--bg-color);
  z-index: 1;
  overflow: hidden;
  transition: .5s;
}
.container1 .btn2:hover{
  color: var(--text-color);
  }
  .container1 .btn2:nth-child(1){
    background: transparent;
    color: var(--main-color);
  }
  .container1 .btn2:nth-child(1)::before{
    background: var(--main-color);
  }
  .container1 .btn2:nth-child(1):hover{
    color: var(--bg-color);
  }
  .container1 .btn2:nth-child(2){
    background: transparent;
    color: var(--main-color);
  }
  .container1 .btn2:nth-child(2)::before{
    background: var(--main-color);
  }
  .container1 .btn2:nth-child(2):hover{
    color: var(--bg-color);
  }
  .container1 .btn2::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
  }
 /* --------projects---------------------------------- */
 .containers{
  max-width: 1050px;
  margin: 0 auto;
 }
 .row-grid{
  display: flex;
  flex-wrap: wrap;
}
.row-grid li {
  width: 33.333%;
  list-style: none;
  padding: 15px;
}

.IMGG img{
  width: 100%;
  scale: 120%;
  aspect-ratio: 3/2;
object-fit: contain;
}
.IMGG{
  overflow: hidden;
  border-radius: 10px;
position: relative;

}

.row-grid li:hover img{
  scale: 130%;    
  opacity: .7;
}
.row-grid li:hover .links{
  top: 70%;
}
.row-grid li:hover .project-name  {
  top: 40%;

}

.links{
  position: absolute;
  top: 150%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
column-gap: 30px;    
}

.project-name {
  position: absolute;
  top: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 500;
  color: white;

}

.Btn {
  z-index: 9999;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  position: relative;
  border-radius: 7px;
  cursor: pointer;
  transition: all .3s;
}

.svgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  backdrop-filter: blur(0px);
  letter-spacing: 0.8px;
  border-radius: 10px;
  transition: all .3s;
  border: 1px solid rgba(156, 156, 156, 0.466);
}
.svgContainer img{
  width: 20px;
}

.BG {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #181818;
  z-index: -1;
  border-radius: 10px;
  pointer-events: none;
  transition: all .3s;
}

.Btn:hover .BG {
  transform: rotate(35deg);
  transform-origin: bottom;
}

.Btn:hover .svgContainer {
  background-color: rgba(156, 156, 156, 0.466);
  backdrop-filter: blur(4px);
}
/*<======================= contact=============================> */
.contact{
  min-height: auto;
  padding-bottom: 7rem;
}
.contact h2{
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}
.contact form{
  max-width: 70rem;
  margin: 0 auto;
  text-align: center;
}
.contact form .input-box{
  position: relative;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box .input-field{
  position: relative;
  width: 49%;
  margin: .8rem 0;
}
.contact form .input-box .input-field input,
.contact form .textarea-field textarea{
  width: 100%;
  height: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color) ;
  background: transparent;
  border-radius: .6rem;
  border: .2rem solid var(--main-color);
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
  color: var(--text-color);
}
.contact form .textarea-field{
  position: relative;
  margin: .8rem 0 2.7rem;
  display: flex;
}
.contact form .textarea-field textarea{
  resize: none;
}
.contact form .btn-box.btns .btns{
  cursor: pointer;
}
.contact form .focus{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  border-radius: .6rem;
  z-index: -1;
  transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
  width: 100%;
}

.footer{
  display: flex;

justify-content: center;
align-items: center;
flex-wrap: wrap;
padding: 2rem 9%;
background: var(--second-bg-color);
}
.footer-text p{
  font-size: 1.6rem;
}
.footer-iconTop a{
  
  position: fixed;
  right: 20px;
  bottom: 20px;
  /* display: inline-flex; */
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background: var(--main-color);
  border: .2rem solid var(--main-color);
  border-radius: .6rem;
}
.footer-iconTop a i{
  font-size: 2.4rem;
  color: var(--bg-color);
}
.animate{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  z-index: 98;
}
/* .animate.home-img{
  width: 50%;
} */
.logo .animate,
.navbar1 .animate,
#menu-icon1 .animate,
.home.show-animate .animate{
  animation: showRight 1s ease forwards;
  animation-delay: calc(.3s * var(--i));
}

@keyframes showRight{
  100%{
    width: 0;
  }
}
.animate.scroll{
  transition-delay: calc(.3s / var(--i));
  transition: 1s ease;
  animation: none;
}
.education .education-box .animate.scroll{
  width: 105%;
}

.about.show-animate .animate.scroll,
.education.show-animate .animate.scroll,.skills-container.show-animate .animate.scroll,.contact.show-animate .animate.scroll{
transition-delay: calc(.3s * var(--i));
width: 0;
}
.hamburger {
    cursor: pointer;
  }
  
  .hamburger input {
    display: none;
  }
  
  
  swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  swiper-slide img {
    display: block;
    width: 100%;
  }




  @media(max-width:1200px){
    html{
      font-size: 55%;
    }
  }
  @media(max-width:991px){
    .row-grid li{
      width: 50%;
    }
    .header1{
      padding: 2rem 4%;
    }
    section{
      padding: 10rem 4% 2rem;
    }
    .home{
      padding: 0 4%;
    }
    .footer{
      padding: 2rem 4%;
    }
  }
  
  @media(max-width:768px){
   
    .header1{
      background: var(--bg-color);
    }
    #menu-icon1{
      display: block;
    }
    .navbar1{
      position: absolute;
      top: 100%;
      left: -100%;
      width: 100%;
      padding: 1rem 4%;
      background: var(--main-color);
      box-shadow: .5rem 1rem rgba(0, 0, 0, 0.2);
      transition: .25s ease;
      transition-delay:.25s ;
      z-index: 1;
    }
    .navbar1.active1{
      left: 0;
      transition-delay: 0s;
    }
    .navbar1 a{
      display: block;
      font-size: 2rem;
      margin: 3rem 0;
      transform: translateX(-20rem);
      transition: .25s ease;
      transition-delay: 0s;
    }
    .navbar1.active1 a{
      transform: translateX(0rem);
      transition-delay: .25;
    }
    .navbar1 .active-nav{
      position: absolute;
      top: 0;
      left:-100%;
      width: 100%;
      height: 100%;
      background: var(--bg-color);
      border-top: .1rem solid rgba(0, 0, 0, 0.2);
      z-index: -1;
      transition: .25s ease;
      transition-delay: 0s;
    }
    .navbar1.active1 .active-nav{
      left: 0;
      transition-delay: .25s;
    }
    .home-imgHover{
      pointer-events: none;
    
      /* opacity: .2; */
    }
  } 


  @media(max-width:550px){
    .row-grid li{
      width: 100%;
    }
  }
  @media(max-width:520px){
   html{
    font-size: 50%;
   }
    .home-content h1{
     
      display: flex;
      flex-direction: column;
    }
    .home-sci{
      width: 160px;
    }
  }





  @media(max-width:450px){
    .header1{
      height: 10vh;
    }
    .home{
      display: flex;
      flex-wrap: wrap-reverse;
      /* position: relative; */
    }
    .home-content{
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
    }
    .img3 {
      width: 100%;
      height: 100%;
      margin-left: 15%;
      margin-top: 30%;
      border-radius: 10px;
  }
   .btn-box{
    
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 34.5rem;
    height: 5rem;
    /* position: absolute;
    top: 3%;*/
  }  
  .home-sci {
    position: absolute;
    bottom: 45%;
    left: 10%;
    /* width: 170px; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.btn-box .btn{
  font-size: 1.4rem;
}
a.btn.btn4{
  display: block;
  display: flex;
  justify-content: center;
}
.home-content h1 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.3;
}
.boxes{
  /* position: absolute;
  top: 2%; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;

}
.navbar a{
  margin: 1rem;
  font-size: 3rem;
}
.home-content span{
  color: var(--text-color);
}
.contact form .input-box .input-field{
  width: 100%;
}
.education{
  padding: 10rem 4% 5rem 5%;
}
  }

  @media(max-width:400px){
  .img3 {
    width: 100%;
    height: 100%;
    margin-left: 15%;
    margin-top: 37%;
    border-radius: 10px;
}
}

@media(max-width:360rem){

.navbar a {
  margin: 0.5rem;
  font-size: 3rem;
}
}